Django==2.2.24
django-constrainedfilefield==4.0.0
django-widget-tweaks==1.4.8
fake-useragent==0.1.11
opencv-python==4.5.3.56
Pillow==8.3.1
sortedcontainers==2.4.0
psycopg2-binary==2.8.6
gunicorn==20.1.0
https://github.com/ssbothwell/greedypacker/archive/f7219917d7b84ad59ee4ed1ab8019cccf4ca3b83.zip
requests==2.26.0
