{% extends 'base_generic.html' %}

{% block content %}
    {% load widget_tweaks %}
    <br>
    <script>
        {% for type, error_text in form.errors.items %}

            $.notify({
                message: '{{ error_text }}'
            },{
                type: 'danger',
                delay: 6000
            },{
                animate: {
                    enter: 'animated fadeInRight',
                    exit: 'animated fadeOutRight'
                }
            });
        {% endfor %}
    </script>
    <div class="row">
        <div class="col-md-6">
            <div class="card col-md-8 bg-light mx-auto pull-right">
                <div class="card-header bg-light bg-light">
                    <h3 class="card-title bg-light">Convert to full account</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.email.label_tag }}
                                    {{ form.email|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.password1.label_tag }}
                                    {{ form.password1|add_class:"form-control" }}
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.password2.label_tag }}
                                    {{ form.password2|add_class:"form-control" }}
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-2">
                                <button type="submit" class="btn btn-basic btn-fill btn-block">Convert</button>
                            </div>
                        </div>
                        &nbsp;&nbsp;
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card col-md-8 bg-light mx-auto pull-left">
                <div class="card-header bg-light bg-light">
                    <h3 class="card-title bg-light">Converting your account</h3>
                </div>
                <div class="card-body">
                    <p>Don't worry, everything is and will stay 100% free!<br><br>
                        By converting your temporary account to a real account your collections will be stored and you can come back and work on them anytime.
                        If you don't convert your account, everything will be permanently lost after a few days.
                    </p>&nbsp;
                </div>
            </div>
        </div>
    </div>
{% endblock %}

