{% extends "base_generic.html" %}

{% block content %}
    {% load widget_tweaks %}
    {% if validlink %}
        <div class="col-md-12">
            <div class="card col-md-3 bg-light mx-auto">
                <div class="card-header bg-light bg-light">
                    <h3 class="card-title bg-light">Password Recovery</h3>
                </div>
                <div class="card-body">
                    <p>Please enter (and confirm) your new password.</p>
                    <form method="post" action="">
                        <div style="display:none">
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.new_password1.errors }}
                                    {{ form.new_password1.label_tag }}
                                    {{ form.new_password1|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.new_password2.errors }}
                                    {{ form.new_password2.label_tag }}
                                    {{ form.new_password2|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-2">
                                <button type="submit" class="btn btn-basic btn-fill btn-block">Change my password</button>
                            </div>
                        </div>
                        &nbsp;&nbsp;
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}