{% extends "base_generic.html" %}

{% block content %}
    {% load widget_tweaks %}
    <script>
        {% for type, error_text in form.errors.items %}

            $.notify({
                message: '{{ error_text }}'
            },{
                type: 'danger',
                delay: 6000
            },{
                animate: {
                    enter: 'animated fadeInRight',
                    exit: 'animated fadeOutRight'
                }
            });
        {% endfor %}
    </script>
        <div class="col-md-12">
            <div class="card col-md-6 bg-light mx-auto">
                <div class="card-header bg-light bg-light">
                    <h3 class="card-title bg-light">Password Change</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="">
                        <div style="display:none">
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Your old password</p>
                                <div class="form-group">
                                    {{ form.old_password.errors }}
                                    {{ form.old_password.label_tag }}
                                    {{ form.old_password|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p>Your new password</p>
                                <div class="form-group">
                                    {{ form.new_password1.errors }}
                                    {{ form.new_password1.label_tag }}
                                    {{ form.new_password1|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Confirm your new password</p>
                                <div class="form-group">
                                    {{ form.new_password2.errors }}
                                    {{ form.new_password2.label_tag }}
                                    {{ form.new_password2|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-2">
                                <button type="submit" class="btn btn-basic btn-fill btn-block">Change my password</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
