{% extends 'base_generic.html' %}

{% block content %}
    {% load widget_tweaks %}
        <div class="alert alert-warning" role="alert">
      With the release of the Quickbuilder which is open to users without account, temporary Accounts are deprecated and will be removed in the future.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <br>

    <script>
        {% for type, error_text in form.errors.items %}

            $.notify({
                message: '{{ error_text }}'
            },{
                type: 'danger',
                delay: 6000
            },{
                animate: {
                    enter: 'animated fadeInRight',
                    exit: 'animated fadeOutRight'
                }
            });
        {% endfor %}
    </script>

    <div class="row">
        <div class="col-md-6">
            <div class="card col-md-8 bg-light mx-auto pull-right">
                <div class="card-header bg-light bg-light">
                    <h3 class="card-title bg-light">Sign Up</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.email.label_tag }}
                                    {{ form.email|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.password1.label_tag }}
                                    {{ form.password1|add_class:"form-control" }}
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.password2.label_tag }}
                                    {{ form.password2|add_class:"form-control" }}
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-2">
                                <button type="submit" class="btn btn-basic btn-fill btn-block">Sign Up</button>
                            </div>
                        </div>
                        &nbsp;&nbsp;
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card col-md-8 bg-light mx-auto pull-left">
                <div class="card-header bg-light bg-light">
                    <h3 class="card-title bg-light">Continue without a login?</h3>
                </div>
                <div class="card-body">
                    <p>You can continue to use this website and all its tools for free without creating an account.<br><br>
                        Click the button below to get started with a temporary account. You can convert the temporary account to
                        a real account at any time by clicking on the link in the top right corner. If you don't, all your work will be lost permanently after a few days.
                    </p>
                    <div class="row">
                        <div class="col-md-12 mt-2">
                            <form name="temp_acc" action="{% url 'temp-account' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-basic btn-fill btn-block">I understand, give me a temporary account.</button>
                            </form>
                        </div>
                    </div>
                    &nbsp;
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

