{% extends "base_generic.html" %}
{% block content %}

<p>Your temporary account has been created. You can now use all the features and tools on this website. <br>
    Don't forget to register your account by clicking the link in the top right when you are done, or all your work will be permanently lost!<br><br>
    I hope you enjoy Monsterforge. If you encounter any issues don't hesitate to contact me over at <a href="https://reddit.com/r/dndbox" target="_blank">
    /r/dndbox</a>.
</p>

{% endblock %}