{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header ">
                    <h1 class="card-title">Welcome to the Monster Forge</h1>
                    <p class="card-category">A free tool that allows you to print miniatures and not waste paper!</p>
                </div>
                <div class="card-body">
                    <h3>Build, Print, Craft & Play!</h3>
                    <div class="container">
                        <div class="row mt-4 mb-3">
                            <p>Get started immediately with the <strong>Quickbuilder</strong>, no account required! Do you need some more features, collections or maybe want to import your account from D&DBeyond?</p>
                            <p>Simply sign on, create your collections and bestiaries. Don't worry, the account is <strong>free</strong>!</p>
                            <a href="{% url 'quickbuild' %}" class="btn btn-secondary active btn-block" role="button" aria-pressed="true">Well take me to the Quickbuilder, please!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">About Monster Forge</h4>
                    <p class="card-category">And how you can support this project.</p>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row mt-4 mb-3">
                            <div class="col-sm-12">
                                <p>If you have questions or want to get in contact with me, head over to our subreddit at <a href="https://www.reddit.com/r/dndbox/" target="_blank">r/dndbox</a>.</p>
                                <p><strong>Disclaimer:</strong> This website is still under development. Feel free to report bugs and errors on <a href="https://github.com/schemen/monsterforge" target="_blank">Github</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">About Dice.Quest</h4>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row mt-4 mb-3">
                            <div class="col-sm-12">
                                <p>Dice.Quest is platform by <a href="https://github.com/schemen" target="_blank">Schemen</a> to support RPG tool creators and host projects that are Opensource. Have a look at <a href="https://dice.quest" target="_blank">Dice.Quest</a> for tools that are currently hosted on it</p>
                                <p>Want to help out in this endeavor? You could sponsor a coffee at <a href="https://www.buymeacoffee.com/schemen" target="_blank">Buymeacoffee</a> to help cover server costs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-2 h-100 align-items-center">
        </div>
        <div class="col-md-8 h-100 align-items-center">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title" style="text-align: center;">Monsterforge How To Basics</h4>
                </div>                  
                <div class="card-body">
                    <div class="container">
                        <div class="embed-responsive embed-responsive-16by9">
                            <video controls loop="loop" width="400" height="300">
                                <source src="{% static 'assets/vid/howtoguide.mp4' %}" type="video/mp4" />
                              </video>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 h-100 align-items-center">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row my-2 text-center">
                            <img src="{% static 'assets/img/mini_4.jpg' %}" class="rounded mx-auto d-block" alt="Minis in action." style='height: auto; width: 100%; object-fit: contain'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row my-2 text-center">
                            <img src="{% static 'assets/img/mini_3.jpg' %}" class="rounded mx-auto d-block" alt="Minis Ready" style='height: auto; width: 100%; object-fit: contain'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row my-2 text-center">
                            <img src="{% static 'assets/img/sheet_1.jpg' %}"  class="rounded mx-auto d-block" alt="An example sheet" style='height: auto; width: 100%; object-fit: contain'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
