{% extends "base_generic.html" %}
{% block content %}
    {% load widget_tweaks %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Delete {{ bestiary }}?</h4>
                    <p class="card-category">Are you sure you want to delete {{ bestiary }}? This action will not delete any creatures.</p>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="" method="post" class="md-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input class="btn btn-fill btn-block mt-4 mb-3" type="submit" value="Yes, delete." />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}